* {
  border: none;
  border-radius: 0;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #555869;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #cdd6f4;
  color: #11111b;
  border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#custom-weather {
  margin-left: 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #1e1e2e;
  color: #a6adc8;
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 3px;
}

#clock {
  color: #a6adc8;
  border-radius: 0px 10px 10px 0px;
}

#custom-praytime {
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #1e1e2e;
  color: #a6adc8;
}

#network {
  color: #a6adc8;
  border-radius: 10px 0px 0px 10px;
}

#battery {
  color: #a6adc8;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
  color: #a6adc8;
}

#pulseaudio.microphone {
  color: #a6adc8;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#custom-pomodoro {
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

#custom-pomodoro.idle {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#custom-pomodoro.work {
  background-color: #eba0ac;
  color: #11111b;
}

#custom-pomodoro.break {
  background-color: #a6e3a1;
  color: #11111b;
}
