/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #d65d0e !important;
  --toolbarbutton-icon-fill: #d65d0e !important;
  --toolbar-field-color: #3c3836 !important;
  --tab-selected-textcolor: #d65d0e !important;
  --toolbar-color: #3c3836 !important;
  --arrowpanel-color: #3c3836 !important;
  --arrowpanel-background: #f2e5bc !important;
  --sidebar-text-color: #3c3836 !important;
/*  --zen-main-browser-background: #fbf1c7 !important; */
}

.sidebar-placesTree {
  background-color: #f2e5bc !important;
}

#zen-workspaces-button {
  background-color: #f2e5bc !important;
}

#TabsToolbar {
  background-color: #fbf1c7 !important;
}

.urlbar-background {
  background-color: #f2e5bc !important;
}

.urlbar-input::selection {
  color: #fbf1c7 !important;
  background-color: #d65d0e !important;
}

.urlbarView-url {
  color: #504945 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #d65d0e
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ff6400 !important;
  --identity-icon-color: #ff6400 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #d65d0e !important;
  --identity-icon-color: #d65d0e !important;
}

.identity-color-green {
  --identity-tab-color: #448c13 !important;
  --identity-icon-color: #448c13 !important;
}

.identity-color-yellow {
  --identity-tab-color: #995e21 !important;
  --identity-icon-color: #995e21 !important;
}

.identity-color-orange {
  --identity-tab-color: #7f4a11 !important;
  --identity-icon-color: #7f4a11 !important;
}

.identity-color-red {
  --identity-tab-color: #a52053 !important;
  --identity-icon-color: #a52053 !important;
}

.identity-color-pink {
  --identity-tab-color: #ff673f !important;
  --identity-icon-color: #ff673f !important;
}

.identity-color-purple {
  --identity-tab-color: #b5591c !important;
  --identity-icon-color: #b5591c !important;
}

#zen-appcontent-navbar-container {
  background-color: #fbf1c7 !important;
}
