// =============================================================================
// 4. STARTUP & MISC
// =============================================================================
spawn-at-startup "waybar"
spawn-at-startup "vicinae" "server"
spawn-at-startup "swaybg" "-i" "/home/mohammed/Pictures/bg.png" "-m" "fill"

hotkey-overlay {
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}
